@import '~antd/dist/antd.css';
/* -- for desktop view -- */
.root {
  flex: 1 1;
  display: flex;
  height: 100vh;
}
/* modal */
.modalDiv {
  display: flex;
}
h5.ant-typography.modalTitle {
  text-align: center;
  flex: 1;
}
.ant-divider-horizontal {
  margin: 0;
}
.modalContent {
  padding-top: 30px;
  padding-bottom: 20px;
}
h3.ant-typography,
div.ant-typography-h3,
div.ant-typography-h3 > textarea,
.ant-typography h3 {
  margin-bottom: 1em;
}
/* slider */
.slider {
  display: flex;
}
.sliderImg {
  margin-top: 100px;
  display: grid;
  justify-content: center;
}
.sliderNav {
  margin-top: 50px;
}
.ant-layout-sider {
  position: relative;
  min-width: 0;
  background-color: lightgrey;
  transition: all 0.2s;
}
.ant-menu {
  background: lightgray;
  justify-content: center;
  display: grid;
}
/* content styling */
.content {
  flex: 1 1;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
}
.contentDiv {
  display: flex;
  justify-content: space-between;
}
.contentTitle {
  padding-top: 30px;
}
.ant-layout {
  background: white;
}
.ant-input-prefix,
.ant-input-suffix {
  padding-left: 10px;
}
.ant-input-prefix {
  margin-right: 4px;
  width: 100%;
}
#components-layout-demo-responsive {
  height: 32px;
  margin: 16px;
  /* background: rgba(255, 255, 255, 0.2); */
  background: lightblue;
}
.site-layout-sub-header-background {
  background: #fff;
}
.site-layout-background {
  background: #fff;
}
.table-row-light {
  background-color: lightgrey;
}
.table-row-none {
  background-color: white;
}
